<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">


    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gongjxiang"
        android:label="简单工具箱"
        android:roundIcon="@mipmap/ic_gongjxiang_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="cn.syutung.jisuanqi.JinZhi"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name="cn.syutung.jisuanqi.More"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="cn.syutung.jisuanqi.About"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name="cn.syutung.jisuanqi.MainActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >

        </activity>
    </application>

</manifest>