<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.syutung.jisuanqi">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:icon="@mipmap/ic_gongjxiang"
        android:label="@string/simply"
        android:roundIcon="@mipmap/ic_gongjxiang_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="cn.syutung.jisuanqi.YinsixieyiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.syutung.jisuanqi.JinZhi"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.syutung.jisuanqi.More"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.syutung.jisuanqi.About"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.syutung.jisuanqi.MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>